h2:hover {
  color: red;
}
h2[class="subtitle"] {
  color: blue;
}
#services {
  color: green;
}

li:nth-child(2) {
  color: steelblue;
}

/*li:only-child {
  color: purple;
}*/

td:only-child {
  color: purple;
}

/*#google-link:link {
  color: blue;
}

#google-link:visited {
  color: red;
}*/

h2 + a {
  color: red;
}

textarea ~ button {
  color: purple;
}

ul > li {
  color: blue;
}

ul li {
  color: green;
}

img[src*="../Learning CSS/img/"] {
  border: 10px solid black;
}

h2[class|="article-subtitle"] {
  background: green;
}
